.search_section{
    margin-top: 20px;
}
.has-search{
    position: relative;
}
.has-search .form-control {
    padding-left: 2.375rem;

}

.has-search .form-control-feedback {
    position: absolute;
    font-size: 20px;
    top: 9px;
    left: 8px;
    pointer-events: none;

}

@media (max-width: 767px) {
    .filter_button-section{
        margin-top: 10px;
    }
   .filter_button-section button{
    font-size: 15px;
    line-height: 1.2;
    padding: 2px 5px;
   }
   .container{
    width: 100%;
   }
   .cyonite_filter{
    --bs-gutter-x: 0.5rem !important;
   }
}
